body{
    font-size: 14px;
    font-family: arial;
    line-height: 23px;
}
#wrapper{
    width: 960px;
    margin: 0px auto;
}
#header, #footer{
    background-color: #029ef3;
}
ul#main-menu{
    text-align: center;

}
ul#main-menu li{
    display: inline-block;
}
ul#main-menu li a{
    padding: 8px 15px;
    color: #fff;
    display: block;
}
#content{
    min-height: 600px;
    padding: 20px 0px;
}
#footer{
    color: #ffdf;
    text-align: center;
    padding: 10px 0px;
}

.mod-page{
    background-color: #f3a902 !important;
}
.mod-product{
    background-color: #000 !important;
}
.mod-post{
    background-color: red !important;
}